/* Navbar styles */
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 40px 50px;
        color: white;
        /* position: fixed; */
        z-index: 1;
    }

    .nav-logo{
        font-family: Outfit;
        font-size: 42px;
        font-weight: 500;
        margin-right: 400px;
    }

    .nav-menu{
        display: flex;
        align-items: center;
        list-style: none;
        font-size: 18px;
        gap: 90px;
    }

    .nav-contact{
        border-radius: 50px;
        padding: 10px 38px;
        background: #fff;
        color: #262626;
    }